.node {
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.node-rect {
  fill: #fdfdfd;
  stroke: #1e1e1e;
  stroke-width: 2;
  rx: 12;
  ry: 12;
}

.node-rect.male {
  fill: #e0f0ff;
  stroke: #246296;
}

.node-rect.female {
  fill: #ffe0f0;
  stroke: #a6426b;
}

.node-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.node-name {
  font-size: 15px;
  font-weight: 600;
}

.node-dates {
  font-size: 13px;
  fill: #888;
}

.link {
  fill: none;
  stroke: #898f99;
  stroke-width: 1.5px;
  stroke-dasharray: 4 3;
  stroke-opacity: 0.75;
}
